body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1012px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MEmployeesLayout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MEmployeesLayout_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:150px;
    height:38px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:38px;
}

.u3 {
    position:absolute;
    left:2px;
    top:11px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../MEmployeesLayout_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:1294px;
}

.u4 {
    position:absolute;
    left:210px;
    top:60px;
    width:10px;
    height:1294px;
    
}

.u5_line {
    background-image: url('../MEmployeesLayout_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:797px;
    height:3px;
}

.u5 {
    position:absolute;
    left:215px;
    top:1349px;
    width:797px;
    height:10px;
    
}

.u6 {
    position:absolute;
    left:38px;
    top:240px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:65px;
    top:259px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:65px;
    top:280px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u9_container {
    position:absolute;
    left:43px;
    top:258px;
    width:16px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u11_container {
    position:absolute;
    left:43px;
    top:279px;
    width:16px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:65px;
    top:300px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u14_container {
    position:absolute;
    left:43px;
    top:300px;
    width:16px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:38px;
    top:340px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:65px;
    top:359px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:65px;
    top:380px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u20_container {
    position:absolute;
    left:43px;
    top:358px;
    width:16px;
    height:16px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u22_container {
    position:absolute;
    left:43px;
    top:379px;
    width:16px;
    height:16px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:65px;
    top:400px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u25_container {
    position:absolute;
    left:43px;
    top:400px;
    width:16px;
    height:16px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../MLeftEmployees_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:35px;
    top:195px;
    width:180px;
    height:19px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:25px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../MLeftEmployees_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:36px;
    top:80px;
    width:40px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:84px;
    top:84px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:37px;
    top:136px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:64px;
    top:155px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:64px;
    top:176px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:64px;
    top:196px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../MLeftEmployees_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:42px;
    top:154px;
    width:16px;
    height:16px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../MLeftEmployees_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:42px;
    top:175px;
    width:16px;
    height:16px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u40 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../MLeftEmployees_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:42px;
    top:196px;
    width:16px;
    height:16px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u42 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:230px;
    top:80px;
    width:701px;
    height:41px;
    overflow:hidden;
}

#pd1u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:41px;
    
}

.u45_normal {
    background-image: url('../MEmployeeSearchBar_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:46px;
}

.u46 {
    position:absolute;
    left:10px;
    top:8px;
    width:680px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:41px;
    
}

.u47_normal {
    background-image: url('../MEmployeeSearchBar_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:696px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../MEmployeeSearchBar_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:898px;
    top:86px;
    width:25px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../MUnselectedEducationTab_files/u76_normal.png');
}

.u53_container {
    position:absolute;
    left:400px;
    top:144px;
    width:80px;
    height:28px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:401px;
    top:153px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../MUnselectedCoursesTab_files/u80_normal.png');
}

.u57_container {
    position:absolute;
    left:485px;
    top:144px;
    width:80px;
    height:28px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:486px;
    top:153px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../MUnselectedSponsorshipsTab_files/u84_normal.png');
}

.u61_container {
    position:absolute;
    left:570px;
    top:144px;
    width:100px;
    height:28px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u62 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:572px;
    top:153px;
    width:98px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../MUnselectedScreeningTab_files/u88_normal.png');
}

.u65_container {
    position:absolute;
    left:675px;
    top:144px;
    width:80px;
    height:28px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:676px;
    top:153px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../MUnselectedAppraisalsTab_files/u92_normal.png');
}

.u69_container {
    position:absolute;
    left:760px;
    top:144px;
    width:80px;
    height:28px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:34px;
}

.u70 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:761px;
    top:153px;
    width:79px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../MUnselectedNPLTab_files/u96_normal.png');
}

.u73_container {
    position:absolute;
    left:845px;
    top:144px;
    width:40px;
    height:28px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:34px;
}

.u74 {
    position:absolute;
    left:2px;
    top:6px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:845px;
    top:153px;
    width:40px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../MUnselectedOutflowTab_files/u100_normal.png');
}

.u77_container {
    position:absolute;
    left:890px;
    top:144px;
    width:60px;
    height:28px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:34px;
}

.u78 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:891px;
    top:153px;
    width:59px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../MUnselectedDetailsTab_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:230px;
    top:144px;
    width:60px;
    height:28px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:34px;
}

.u82 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:231px;
    top:153px;
    width:59px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_line {
    background-image: url('../MTabLineForSelectedAppointments_files/u85_line.png');
}

.u85_line {
    position:absolute;
    left:0px;
    top:4px;
    width:550px;
    height:3px;
}

.u85 {
    position:absolute;
    left:395px;
    top:167px;
    width:550px;
    height:10px;
    
}

.u86_line {
    background-image: url('../MTabLineForSelectedAppointments_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:0px;
    top:4px;
    width:5px;
    height:3px;
}

.u86 {
    position:absolute;
    left:291px;
    top:167px;
    width:5px;
    height:10px;
    
}

.u88_line {
    background-image: url('../MSelectedAppointmentsTab_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:4px;
    width:100px;
    height:3px;
}

.u88 {
    position:absolute;
    left:295px;
    top:140px;
    width:100px;
    height:10px;
    
}

.u89 {
    position:absolute;
    left:302px;
    top:155px;
    width:85px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../MSelectedAppointmentsTab_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:28px;
}

.u90 {
    position:absolute;
    left:290px;
    top:145px;
    width:10px;
    height:28px;
    
}

.u91_line {
    background-image: url('../MSelectedAppointmentsTab_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:28px;
}

.u91 {
    position:absolute;
    left:390px;
    top:145px;
    width:10px;
    height:28px;
    
}

.u94_normal {
    background-image: url('../MAddNewButton_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:230px;
    top:200px;
    width:80px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:251px;
    top:204px;
    width:59px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../MAddNewButton_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:234px;
    top:204px;
    width:15px;
    height:13px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:13px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-2px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../MHorizontalLine_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:735px;
    height:3px;
}

.u100 {
    position:absolute;
    left:215px;
    top:400px;
    width:735px;
    height:10px;
    
}

