body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1012px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MNewsFeedItem_files/placeholder_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:225px;
    top:82px;
    width:50px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:286px;
    top:80px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:287px;
    top:100px;
    width:393px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:287px;
    top:151px;
    width:179px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../MNewsFeedItem_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:750px;
    height:3px;
}

.u5 {
    position:absolute;
    left:215px;
    top:182px;
    width:750px;
    height:10px;
    
}

.u6_line {
    background-image: url('../MNewsFeedItem_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:44px;
    height:3px;
}

.u6 {
    position:absolute;
    left:921px;
    top:182px;
    width:44px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:288px;
    top:116px;
    width:393px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../MHomeLayout_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:60px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MHomeLayout_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:10px;
    width:150px;
    height:38px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:38px;
}

.u12 {
    position:absolute;
    left:2px;
    top:11px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../MHomeLayout_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:1294px;
}

.u13 {
    position:absolute;
    left:210px;
    top:60px;
    width:10px;
    height:1294px;
    
}

.u14_line {
    background-image: url('../MHomeLayout_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:797px;
    height:3px;
}

.u14 {
    position:absolute;
    left:215px;
    top:1349px;
    width:797px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:38px;
    top:240px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:65px;
    top:259px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:65px;
    top:280px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:43px;
    top:258px;
    width:16px;
    height:16px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u19 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:43px;
    top:279px;
    width:16px;
    height:16px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:65px;
    top:300px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MLeftDataMining_files/u18_normal.png');
}

.u23_container {
    position:absolute;
    left:43px;
    top:300px;
    width:16px;
    height:16px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:38px;
    top:340px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:65px;
    top:359px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:65px;
    top:380px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:43px;
    top:358px;
    width:16px;
    height:16px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u30 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:43px;
    top:379px;
    width:16px;
    height:16px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u32 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:65px;
    top:400px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../MLeftDataProcessing_files/u29_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:400px;
    width:16px;
    height:16px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u35 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../MLeftNewsFeed_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:35px;
    top:152px;
    width:180px;
    height:19px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:25px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../MLeftNewsFeed_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:36px;
    top:80px;
    width:40px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:84px;
    top:84px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:37px;
    top:136px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:64px;
    top:155px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:64px;
    top:176px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:64px;
    top:196px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../MLeftNewsFeed_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:42px;
    top:154px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../MLeftNewsFeed_files/u46_normal.png');
}

.u48_container {
    position:absolute;
    left:42px;
    top:175px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../MLeftNewsFeed_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:42px;
    top:196px;
    width:16px;
    height:16px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

